body{
    border-radius: 10px;
    background: #FFF;
    text-align: center;
    /*display: flex;
    flex-direction: column;*/
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

h1{
    color: #123033;
    font-family: "Noto Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
